<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chuck NOrris Jokes</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='view_joke.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Chuck Norris</h1>
            <img src="{{ joke_details['icon_url'] }}" alt="">
            <h2>Updated at: {{ joke_details['updated_at'] }} </h2>
            <h3>Found at: <a href="{{ joke_details['url'] }}">here</a></h3>
            <p>{{ joke_details['value'] }}</p>
        </div>
    </body>
</html>